@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background-color: green;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 400px;
  width: 250px;
  border-radius: 20px;
}

.top {
  font-size: 80px;
}

.number {
  font-size: 150px;
}

.bottom {
  font-size: 80px;
}

.red {
  color: red;
}

.black {
  color: black;
}
